PROJECT TITLE


ELECTRICITY TIMESERIES ANALYSIS

PROJECT DESCRIPTION 
This project aim to forecast the electricity consumption and usage over time

### Hypothesis

The electricity consumption varies based on time of day and day of the week.

### Business Questions 

1. How does the electricity consumption change during weekdays compared to weekends?

2. What is the overall trend in electricity consumption over time?

3. Is there a pattern in electricity consumption during specific months of the year?

4. How does the electricity consumption vary between different regions?

5. How can we predict future electricity consumption based on historical data?

6. What is the impact of temperature on electricity usage?

7. Is there a difference in electricity usage between weekdays and weekends?

In [25]:
#importing Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
#importing datasets 
temp=pd.read_csv(r"C:\Users\asus\Desktop\nes\daily-minimum-temperatures-in-me.csv")
elect = pd.read_csv(r"C:\Users\asus\Desktop\nes\Electric_Production.csv")
beer=pd.read_csv(r"C:\Users\asus\Desktop\nes\monthly-beer-production-in-austr.csv")
sales=pd.read_csv(r"C:\Users\asus\Desktop\nes\sales-of-shampoo-over-a-three-ye.csv")

### A deep dive into the dataset

#### Temperature Dataset

In [27]:
#temp dataset dive checking the head of the dataset
temp.head()

       Date Daily minimum temperatures
0  1/1/1981                       20.7
1  1/2/1981                       17.9
2  1/3/1981                       18.8
3  1/4/1981                       14.6
4  1/5/1981                       15.8

In [28]:
#checcking the shape
temp.shape

(3650, 2)

In [29]:
#checking the dtypes
temp.dtypes

Date                          object
Daily minimum temperatures    object
dtype: object

In [30]:
#checking the information 
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        3650 non-null   object
 1   Daily minimum temperatures  3650 non-null   object
dtypes: object(2)
memory usage: 57.2+ KB

In [31]:
#checking the null values 

temp.isnull().any()

Date                          False
Daily minimum temperatures    False
dtype: bool

In [32]:
#checking for duplicte values 
temp.duplicated().sum()

0

#### Electricity Dataset

In [33]:
#checking the head of the dataset
elect.head()

       DATE  IPG2211A2N
0  1/1/1985     72.5052
1  2/1/1985     70.6720
2  3/1/1985     62.4502
3  4/1/1985     57.4714
4  5/1/1985     55.3151